
 .imageForHeading
{
    height: 70px;
    width: 150px;
    border-radius: 10px;
    margin-bottom: 10px;
} 
html
{
    margin-left: 10%;
    margin-right: 10%;
    background-color: gray
}
.header
{
    height: 10% ;
    width: 100%;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}
 li
{
    display: inline;

}
li a{
    color: white;
    padding: 0px 5px;
    text-decoration: none;
    display: inline;
} 

.container
{

    width: 100%;
    /* padding: 5px; */
    background-color:gray;
    overflow: auto;
    margin-bottom: 5px;
}

.mainblock
{
    width: 69%;
    background-color:gray;
    float: left;

}
.block
{
    padding: 4%;
    margin-bottom: 10px;
    background-color:white;
    border-radius: 1%;

}
.rightblock
{
    width: 29%;
    float: right;
    background-color: gray;
}
.block1
{
    padding: 10px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 2%;
}


.footer
{
    height: 20% ;
    width: 100%;
    padding: 5px;
    background-color: black;
    border-radius: 3%;
}


.detail
 {
      color:white;
}
.name
 {
      color:red;
}

@media screen and (max-width:20%)
{
 .header ul li a{
     float: none;
     display: block;
 }   

 .mainblock, .rightblock
 {
     float: none;
     width: auto;
 }
 
 
}